{%extends "homepage.html"%}

{%block content%}
 <form method="post">
    {%if message%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong> 
      </div>
      {%endif%}
    <table class="table">
        <tr><td>Card No</td><td> <input type="text" name="cardno" placeholder="Card No" required/></td></tr>
        <tr><td>CVV</td><td ><input type="text" name="cvv"placeholder="CVV" required/></td></tr>
        <tr><td>Expiry</td><td ><input type="expiry" name="expiry" placeholder="Expiry" required/></td></tr>
        <tr><td>Total Amount</td><td ><input type="text" name="total" value= "{{session["total"]}}" readonly/></td></tr>
        <tr><td><button class="button btn-danger form-control" type="submit" >Make Payment</button><td></td></td></tr>

    </table>
 </form>
{%endblock%}